body {
  background-color: lightgray;
  margin: 5%;
}

header h1 {
  font-family:sans-serif;
  background-color: white;
  padding: 2%;
}

p {
  color: white;
  font-family: sans-serif;
  padding: 1%;
}

.fourteen {
  background-color: #0D47A1;
  margin: 0;
}

.thirteen {
  background-color: #1565C0;
  margin: 0;
}

.twelve {
  background-color: #1976D2;
  margin: 0;
}

.eleven {
  background-color: #1E88E5;
  margin: 0;
}

.ten {
  background-color: #2196F3;
  margin: 0;
}

.nine {
  background-color: #42A5F5;
  margin: 0;
}

.eight {
  background-color: #64B5F6;
  margin: 0;
}

.seven {
  background-color: #43A047;
  margin: 0;
}

.six {
  background-color: #FFDFDF;
  margin: 0;
}

.five {
  background-color: #FFBFBF;
  margin: 0;
}

.four {
  background-color: #FF9F9F;
  margin: 0;
}

.three {
  background-color: #FF8080;
  margin: 0;
}

.two {
  background-color: #FF6060;
  margin: 0;
}

.one {
  background-color: #FF4040;
  margin: 0;
}

.zero {
  background-color: #FF0000;
  margin: 0;
}
